/* Player.module.css */

.player {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #ccc;
    padding: 1rem 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.buttonGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-grow: 0;
    margin-left: 10%;
}

.icon {
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 20px;
}

.progressBar {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: relative;
}

.progressBarContainer {
    display: flex;
    flex-direction: column-reverse;
    width: 50px;
    margin-left: auto;
    margin-right: 50px;
}

.volumeControl {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50px; /* Fixed space for volume control */
}


.progress-bar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #ff5500; /* SoundCloud orange for filled part */
    border-radius: 2px;
    width: 50%; /* Example: 50% filled */
}

.progress-bar input[type="range"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
}

.track-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: center;
    flex: 1 1 auto; /* Allows the track info to grow and shrink as needed */
    padding: 0 12px;
}

.title, .artist {
    margin-right: 0;
    padding: 0;
    font-size: 14px;
}

.title {
    font-weight: bold;
    color: #ff5500;
}

.artist {
    font-size: 12px;
    color: #666;
}

.iconButton {
    background: none;
    border: none;
    cursor: pointer;
}

.iconButton:hover, .iconButton:focus {
    opacity: 0.7;
}

.artwork {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-right: 10px;
}
.volumeSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    margin-top: 1rem; /* Adjust spacing */
}

.volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background-color: #333;
    cursor: pointer;
}
