.progressBarContainer {
    position: relative;
    width: 600px;
}

.progressBar {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ff5500;
    cursor: pointer;
}

.progressBar::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ff5500;
    cursor: pointer;
}

.timeDisplay {
    position: absolute;
    right: 0;
    top: 100%;
    font-size: 0.8rem;
    margin-top: 4px;
    color: #333;
    white-space: nowrap;
}
